body {
    background: #E8E8E8;
    font-family: "Open Sans", sans-serif;
    line-height: 1.3;
    text-align: center;
    max-width: 500px;
    margin: 20px auto 0px auto;
  }

  h1 {
	font-size: 2.3em;
	font-weight: bold;
	color: #005449;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 35px 0px 20px 0px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

button {
	color: #005449;
	background-color: #BBCBC9;
	font-size: 1.1em;
	font-weight: bold;
	border: 2px solid #005449;
	border-radius: 8px;
	padding: 10px 20px;
	margin: 8px;
}

img {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

input {
    display: block;
    box-sizing: border-box;
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}